<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | MyCompra</title>
    <link rel="stylesheet" href="assets/css/global.css" />
    <link rel="stylesheet" href="assets/css/mycompra-login.css" />

    <link
      rel="stylesheet"
      href="assets/fonts/font-awesome-4.7/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/fonts/font-awesome-5/css/fontawesome-all.min.css"
    />
  </head>
  <body>
    <div class="background-login">
      <div class="login">
        <h1>MyCompra</h1>
        <span>Faça o seu login na nossa loja</span>
        <form action="">
          <input type="text" placeholder="E-mail" />
          <input type="password" placeholder="Password" />
          <input type="button" value="Log in" />
        </form>

        <p>ou</p>

        <button><i class="fab fa-facebook-square"></i> Facebook</button>
      </div>
      <div class="bg"></div>
    </div>
  </body>
</html>
