main .container {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .container aside {
  width: 26%;
  height: 70vh;

  background: #4a4ab1;
  border: 3px solid #4a4ab1;
  border-radius: 0.25rem;

  padding: 2rem;
}

main .container aside .user .avatar-user {
  display: flex;
  align-items: center;
}

main .container aside .user .avatar-user img {
  width: 35px;
  height: 35px;

  border: 2px solid #6060c9;
  border-radius: 50%;
  margin-right: 0.8rem;
}
main .container aside .user {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 2rem;
  border-bottom: 1px solid #fff;

  padding-bottom: 0.7rem;

  color: #fff;
}

main .container aside .user strong {
  font-weight: 300;
}

main .container aside nav a {
  display: block;
  background: #6060c9;
  margin-top: 1rem;
  padding: 0.7rem 1rem;

  color: #fff;
  font-weight: 300;
  text-decoration: none;

  border-left: 2px solid #fff;

  transition: filter 0.2s;
}

main .container aside nav a:hover {
  filter: brightness(1.3);
}
main .container aside nav a i {
  margin-right: 0.7rem;
}

main .container article {
  width: 72%;
  height: 70vh;
}

main .container article .static-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .container article .static-card .card {
  width: 50%;
  height: 20vh;
  background: #4a4ab1;

  border-radius: 0.25rem;

  padding: 1rem;
}

main .container article .static-card .card h1 {
  font-weight: 300;
}

main .container article .static-card .card + .card {
  margin-left: 1rem;
}
