header .content-header-talk {
  padding: 2rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #fff;
}

header .content-header-talk p {
  font-size: 0.9rem;
}

header .content-header-talk a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
}

header .content-header-talk a + a {
  margin-left: 2rem;
}

header .navegation h1 {
  color: #fff;
}

header .navegation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .navegation a {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;

  /* padding: 0.25rem 1rem; */

  border-radius: 0.25rem;
}

header .navegation a + a {
  margin-left: 2rem;
}

/* Background */
.background {
  background-image: url(../images/shoes/14.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: 36rem;
  background-position-y: -21rem;
}

.background .container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.background .container img {
  /* width: 50%; */
  margin-right: 2rem;
}

.background .container h1 {
  font-size: 3.6rem;
  color: #ffffff;

  margin-bottom: 2rem;
}

.background .container p {
  font-size: 1.5rem;
  color: #fff;
}

.content-describe {
  width: 50%;
}

.content-describe a.compra {
  font-weight: bold;
  text-decoration: none;

  width: 200px;
  height: 2.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #4a4ab1;
  margin-top: 2rem;

  color: #fff;

  border-radius: 0.25rem;
  transition: filter 0.2s;
}

.content-describe a.compra i {
  margin-right: 1rem;
}

.content-describe a:hover {
  filter: brightness(1.2);
}

.background .link-footer-background {
  max-width: 1120px;
  margin: 0 auto;
  /* padding-top: 1rem; */

  margin-top: -3rem;
  margin-bottom: 5rem;
}

.background .link-footer-background a {
  width: 3rem;
  height: 2rem;

  display: block;
  color: #fff;
  background: #4a4ab1;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.25rem;

  text-decoration: none;
}

.about-my-compra {
  height: 70vh;
  display: flex;
  align-items: center;
}

.about-my-compra .container .content-describe {
  width: 50%;
  display: block;
  float: right;
  color: #fff;
}

.about-my-compra .container .content-describe h1 {
  margin-bottom: 2rem;
  font-size: 4rem;
}

.about-my-compra .container .content-describe p {
  font-size: 1.3rem;
}

.about-my-compra .container .content-describe p + p {
  margin-top: 2rem;
}

/* Productos */

.product {
  margin-top: 2rem;
  padding-bottom: 5rem;
  color: #fff;
}

.product .container {
  justify-content: space-between;
  flex-direction: column;
}

.product .content h1 {
  font-size: 3.2rem;
  color: #ffffff;
}

.product .content {
  margin-bottom: 4rem;
}

.product .products {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: wrap;

  margin-top: 2rem;
}

.product .products .item-product {
  border-radius: 0.25rem;
  padding: 0.25rem;
  background: #4a4ab1;
  width: 300px;

  height: 22rem;
  margin-top: 2rem;
  text-align: center;

  flex-direction: wrap;
}

.product .products .item-product + .item-product {
  margin-left: 1.5rem;
}

.item-product strong,
.item-product h1 {
  font-weight: 100;
}

.product .products .item-product img {
  width: 70%;
  margin: 0 auto;
  margin-top: -7rem;
}

.product .products .item-product a {
  display: block;
  width: 140px;
  height: 2.3rem;

  background: #4a4ab1;
  border: 2px solid #fff;
  border-radius: 0.25rem;

  color: #fff;

  font-weight: 400;
  font-family: Roboto;
  transition: filter 0.2s;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;

  text-decoration: none;
}

.product .products .item-product a i {
  margin-right: 0.6rem;
}

.product .products .item-product button:hover {
  cursor: pointer;
  border: 2px solid #4a4ab1;
  color: white;
  filter: brightness(0.6);
}

.product .products .item-product .percentagem {
  width: 100px;
  height: 100px;
  border: 4px solid #fff;
  border-radius: 50px;
  margin: 0 auto;

  margin-top: 1rem;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  font-size: 1.1rem;

  font-weight: bold;
}

/* Oferta */
.oferta-semanal {
  margin-bottom: 5rem;
}

.oferta-semanal .container h1 {
  margin-bottom: 2rem;
  text-align: right;
  font-size: 3.3rem;

  color: #fff;
}

.oferta-semanal .destaque {
  height: 50vh;
  background: #4a4ab1;
  padding: 1rem 2rem;

  border: 3px solid #35358f;
  border-radius: 0.25rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.oferta-semanal .destaque img {
  width: 50%;
}

.oferta-semanal .destaque .paragraph-oferta {
  width: 50%;
  color: #fff;
}

.oferta-semanal .destaque .paragraph-oferta h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.oferta-semanal .destaque .paragraph-oferta p {
  font-size: 1.4rem;
}

/* Parceiros */
.parceiros {
  margin-bottom: 4rem;
}

.parceiros h1 {
  font-size: 3rem;
  color: #fff;
}

.parceiros .container {
  display: flex;
  flex-direction: column;
}

.parceiros .container .parceiro-team {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 4rem;
}

.parceiros .container .parceiro-team .item-team {
  background: #4a4ab1;
  border: 3px solid #35358f;
  border-radius: 0.25rem;

  width: 50%;
  height: 250px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.parceiros .container .parceiro-team .item-team + .item-team {
  margin-left: 1rem;
}

.parceiros .container .parceiro-team .item-team img {
  width: 60%;
}

.contacts .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: 3rem;
}

.contacts .container > h1 {
  font-size: 3rem;
  color: #fff;
}

.contact-mycompra {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-mycompra form {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-mycompra form input {
  height: 2.5rem;
  width: calc(50% - 0.5rem);
  margin-bottom: 1rem;
  padding: 1.7rem 1rem;
  border: 0;
}

.contact-mycompra form textarea,
.contact-mycompra form input[type="tel"] {
  width: 100%;
}

.contact-mycompra form button {
  width: 200px;
  height: 3rem;
  margin-top: 1.5rem;

  background: #4a4ab1;
  border: 2px solid #4a4ab1;
  border-radius: 0.25rem;
  color: #fff;

  font-weight: bold;
}

.contacts img {
  width: 500px;
}

/* Footer */
footer {
  margin-top: 1rem;

  color: #fff;
  font-weight: 300;

  padding: 2rem 0;

  background: #35358f;
}

footer .content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 2rem;
}

footer .content .footer-item {
  height: 16rem;
  width: 50%;
}

footer .content nav,
footer .content div {
  margin-top: 2rem;
}

footer .content div form {
  width: 100%;
  background: #fff;

  display: flex;
  margin-top: 1rem;
  border: 1px solid #fff;
}

footer .content div form input {
  width: 90%;
  padding: 0.6rem 0;
  border: 0;
}
footer .content div form button {
  width: 15%;
  right: auto;
  border: 0;

  background: #35358f;
  align-items: center;

  cursor: pointer;

  color: #fff;
}

footer .content nav a {
  color: #fff;
  display: block;
  text-decoration: none;
}

footer .content nav a + a {
  margin-top: 1rem;
}

footer .content .footer-item h1 {
  font-size: 1.4rem;
  font-weight: 400;
}

footer p a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
